div.theme-icon {
    line-height: 60px;
    float: right;
    padding-left: 1.5rem;
}

div.left-part {
    height: 24px;
    width: 12px;
    display: inline-block;
    border-radius: 96px 0 0 96px;
}

div.right-part {
    height: 24px;
    width: 12px;
    display: inline-block;
    border-radius: 0 96px 96px 0;
    margin-left: -0.4rem;
}

div.theme-name-holder {
    float: left;
}

span.theme-name {
    line-height: 48px;
}