.login-body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-box {
    width: 32%;
    padding: 2rem;
    box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.19);
    background: whitesmoke;
}

.login-box > * {
    padding: 1rem;
}

.halign-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-field {
    display: block;
}

span {
    margin-right: 1rem;
}

button {
    width: 80%;
    margin: 0px 4rem;
    background: #903564;
    color: white;
}