<div class="login-body" color="primary" mat-container>
  <div class="login-box mat-elevation-z8">
    <div class="halign-center">
      <img src="/assets/logo.png" alt="Argusoft Logo">
    </div>
    <mat-form-field class="form-field">
      <span matPrefix>
        <i class="material-icons">account_circle</i>
      </span>
      <input matInput type="text" placeholder="Enter ID" name="uname" />
    </mat-form-field>

    <mat-form-field class="form-field">
      <span matPrefix>
        <i class="material-icons">security</i>
      </span>
      <input matInput type="password" placeholder="Enter Password" name="password" />
    </mat-form-field>
    <div class="halign-center">
      <button mat-raised-button color="primary" type="submit" routerLink='/compensation'>Login</button>
    </div>
  </div>
</div>