<div class="mat-elevation-z8">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="filter-field">
          <mat-select placeholder="Select column name" [(value)]="selectedColumn" (change)="applyFilter(col.value)">
            <mat-option *ngFor="let column of columnHeadings" value="{{ column.value }}">
              {{ column.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="filter-field">
          <input #col matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="e_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Employee Id </mat-header-cell>
        <mat-cell *matCellDef="let employee"> {{employee.e_id}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let employee"> {{employee.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="designation">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Designation </mat-header-cell>
        <mat-cell *matCellDef="let employee"> {{employee.designation}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="salary">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Salary </mat-header-cell>
        <mat-cell *matCellDef="let employee"> {{employee.salary}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="joining_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Joining Date </mat-header-cell>
        <mat-cell *matCellDef="let employee"> {{employee.joining_date | date: 'MM/dd/yyyy'}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
  </div>
</div>