div.container {
    padding: 1rem;
}

div.header {
    background-color: cornflowerblue;
    border-bottom: 0.5rem burlywood solid;
    padding: 0.5rem 0 0 0.75rem;
}

div.content {
    background-color: lightblue;
    padding: 1rem;
}

mat-form-field#emp-id {
    width: 40%;
}

td.fname {
    font-size: 1.3rem;
    color: darkblue;
    padding: 0.5rem;
    padding-right: 0.8rem;
}

td.fvalue {
    font-size: 1.2rem;
    padding: 0.2rem;
}

table.amounts {
    width: 100%;
}

td.amount-cell {
    text-align: center;
}

mat-form-field.form-field {
    width: 90%;
}