div.container {
    padding: 1rem;
}

div.header {
    background-color: #e3e9f3;
    /* border-bottom: 0.5rem rgba(0,0,0,.54) solid; */
    padding: 0.75rem;
    text-align: center;
    border-radius: 1rem 1rem 0 0;
    margin-top: 2rem;
}

div.content {
    background-color: #fff;
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
    margin-bottom: 2rem;
}

mat-form-field#emp-id {
    width: 40%;
}

td.fname {
    font-size: 1.3rem;
    color: darkblue;
    padding: 0.5rem;
    padding-right: 0.8rem;
}

td.fvalue {
    font-size: 1.2rem;
    padding: 0.2rem;
}

table.amounts {
    width: 100%;
}

td.amount-cell {
    text-align: center;
}

mat-form-field.form-field {
    width: 90%;
}